.full-board-row, .board {
    display: flex;
    flex-direction: column;
}

.full-board  {
    display: grid;
	grid-template-columns: 120px 120px 120px;
    grid-auto-columns: 120px;
    grid-gap: 2px;
    background: $color-black;
}

.board-row {
    display: flex;
}
