.square {
    background: $color-white;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
    cursor: pointer;
    transition: all  ease-in-out .2s;

    &:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px 8px $color-menu-3;
    }
    &.active {
        transform: scale(1.1);
        box-shadow: 0px 0px 8px $color-menu-3;
        background: $color-menu-5;
    }
    &.not-allowed {
        pointer-events: none;
        color: $color-dark-1;
        background: lighten($color-menu-3, 40%);
    }
}